#site {

    width:1000px;
    /* Definirmos a altura da página*/
    height:700px;
    /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
    /*top : posição de cima */
    margin-top:0;
    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    margin-right:auto;
    /* Aqui definiremos a cor de fundo da página */
    background-color:#666;
}
#header {
    width: 1000px;
    height: 100px;
    background-color: aqua;
}

#bar-menu {
    width: 1000px;
    height: 50px;
    background-color: green;
}
#footer{
    width: 1000px;
    height: 500px;
    margin-top: 50px;
    background-color: pink;
}

#conteudo {
    width: 1000px;
    height: 600px;
    
    background-color: blue;

}

input[type=text]{
    padding:11px; 
    font-size:15px; 
    border-width:1px; 
    border-style:solid; 
    background-color: white; 
    border-color:black; 
    box-shadow: 0px 0px 0px 0px rgba(42,42,42,.75);  
}
input[type=text]:focus { background-color: lightblue; } 

#btn-submit{

    background-color: blue;
    border: none;
    color: white;
    padding: 16px 80px;
    text-decoration: none;
    margin: 4px 2px;

}

#col-entra-fo{
    margin-left: 0%;
    margin-right: 25;
}