#site {

    width:1351px;
    /* Definirmos a altura da página*/
    height:700px;
    /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
    /*top : posição de cima */
    margin-top:0;
    /* left: posição de esquerda*/
    margin-left:0;
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    margin-right:0;
    /* Aqui definiremos a cor de fundo da página */
    background-color: #eeeeee;
    
}
#header {
    width: 1351px;
    height: 50px;
  

}
#footer{
    width: 1351px;
    height: 500px;
    margin-top: 50px;
    text-align: center;
}

#conteudo {
 
    height: 600px;  
}
#gerar-pll, #gerar-dual {
    padding-left:160px;
    padding-right: 195px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 10px;
    text-align: center;
    color: white;
    background-color: blue;
}
#gerar-dual{
    margin-top: 10px;
    padding-left:140px;
    align-items: center;
}

#conteudo-left {

    margin-top: 50px;
    margin-left: 80px;
    
    width: 550px;
    height: 600px;
    margin-right: 5px;
    float:left;
}
#cont-left {
    margin-top: 50px;
    width: 350px;
    text-align: center;
    padding: 14px 50px;
}

#conteudo-right {
    
    width: 650px;
    height: 400px;
    margin-top: 50px;
    margin-left: 30px;
    float:left;
   

}
#op-form {
    overflow: scroll;
    height: 386px;
}
input[type=text]{
    padding:11px; 
    font-size:15px; 
    border-width:1px; 
    border-style:solid; 
    background-color: white; 
    border-color:black; 
    box-shadow: 0px 0px 0px 0px rgba(42,42,42,.75);  
}
input[type=text]:focus { background-color: lightblue; } 

#btn-submit{

    background-color: blue;
    border: none;
    color: white;
    padding: 16px 80px;
    text-decoration: none;
    margin: 4px 2px;

}

#col-entra-fo{
    margin-left: 0%;
    margin-right: 25;
}
#dual-saida{
    font-size: large;
}
fieldset {
    background-color: #eeeeee;
}
  
legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}